@model PriceCompare.Models.mobile


<div style="width:700px;">
<div style="float:left;width:300px;">
<h1>Name:</h1>
<h1>OS:</h1>
<h1>Processor:</h1>
<h1>Size:</h1>
<h1>Resolution:</h1>
<h1>RAM:</h1>
<h1>Brand:</h1>
<h1>Price:</h1>
<h1>Primary Camera:</h1>
<h1>Internal:</h1>
<h1>Expandable:</h1>
<h1>Video Recording:</h1>
</div>
<div style="float:left;width:200px;">
<h1>@Model.Name</h1>
<h1>@Model.OS</h1>
<h1>@Model.Processor</h1>
<h1>@Model.Display</h1>
<h1>@Model.Resolution</h1>
<h1>@Model.RAM</h1>
<h1>@Model.Brand</h1>
<h1>@Model.Price</h1>
<h1>@Model.PrimaryCam</h1>
<h1>@Model.Internal</h1>
<h1>@Model.Expandable</h1>
<h1>@Model.Video</h1>
<h1>@Model.SecondaryCam</h1>
</div>
</div>