<div class="pagination">
    @if (!Model.PagedProducts.IsFirstPage)
    {
        <span class="page-link">
            @Html.ActionLink("First", "price", new {from = ViewBag.FromPrice, to = ViewBag.ToPrice, page = 1 })</span>
    }
    @if (Model.PagedProducts.HasPreviousPage)
    {
        <span class="page-link">
            @Html.ActionLink("Prev", "price", new { from = ViewBag.FromPrice, to = ViewBag.ToPrice, page = Model.PagedProducts.PageNumber - 1 })</span>
    }
    @if (Model.PagedProducts.HasNextPage)
    {
        <span class="page-link">
            @Html.ActionLink("Next >", "price", new { from = ViewBag.FromPrice, to = ViewBag.ToPrice, page = Model.PagedProducts.PageNumber + 1 })</span>
    }
    @if (!Model.PagedProducts.IsLastPage)
    {
        <span class="page-link">
            @Html.ActionLink("Last >>", "price", new { from = ViewBag.FromPrice, to = ViewBag.ToPrice, page = Model.PagedProducts.PageCount })</span>
    }
    <div class="info">
        <i>Page @(Model.PagedProducts.PageCount < Model.PagedProducts.PageNumber ? 0 : Model.PagedProducts.PageNumber) of @Model.PagedProducts.PageCount</i>
    </div>
</div>