@model IEnumerable<PriceCompare.Models.Product>
@Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.vista.css"))
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Manage Products";
}

<script src="@Url.Content("~/Scripts/2011.2.712/jquery-1.5.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/2011.2.712/telerik.common.min.js")"></script>
<script src="@Url.Content("~/Scripts/2011.2.712/telerik.textbox.min.js")"></script>
<script src="@Url.Content("~/Scripts/2011.2.712/telerik.grid.min.js")"></script>
<script src="@Url.Content("~/Scripts/2011.2.712/telerik.grid.filtering.min.js")"></script>

<div class="contentHolder">
    <div class="adminHeading">Manage Products</div>
    <div class="adminAddNew">@Html.ActionLink("Add New Item", "Create", "ManageProduct")</div>
    <div class="gridListView">
        @(Html.Telerik().Grid(Model)
                .Name("Grid")
                .DataKeys(keys => keys.Add(p => p.Id))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Width(30);
                    columns.Bound(p => p.Name).Width(300);
                    columns.Bound(p => p.Category.Name).Title("Category").Width(150);
                    columns.Bound(p => p.Brand.Name).Title("Brand").Width(150);
                    columns.Bound(p => p.BasePrice);
                    columns.Bound(c => c.Id)
                                    .Width(50)
                                    .Template(x => Html.ActionLink("Add Pricing", "Create", "Pricing", new { productId = x.Id }, null))
                                    .Title("Add Pricing");
                    columns.Bound(c => c.Id)
                                    .Width(50)
                                    .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
                                    .Title("EDIT");
                    columns.Bound(c => c.Id)
                                    .Width(50)
                                    .Template(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" }))
                                    .Title("DELETE");
                })
                .Pageable(paging =>paging.PageSize(15).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                .Filterable()
                .Sortable()
        )
    </div>
</div>