@model IEnumerable<PriceCompare.Models.Product>
@helper Truncate(string input, int length)
    {
    if (input.Length <= length)
    {
            @input
    }
    else
    { 
        @input.Substring(0, length)<text>...</text>
    }
}

<div class="bottomProducts">
    @foreach (var product in Model)
    {
        <div class="float">
            <div class="imageInFloat">
                <a href="@Url.Action("Index", new { controller = "Product", id = product.Id, title = product.Name.Replace(", "," ").Replace(" ", "-").ToLower() })"><img class="productImageLeft" alt="@product.Name" src="@product.Picture.PictureUrl" /></a>
            </div>
            <div>
                @Truncate(product.Name, 30)
            </div>
            <div>
                at @product.Retailer_Product_Prices.Count Sellers
            </div>
        </div>
    }
</div>