<div class="pagination">
    @if (!Model.IsFirstPage)
    {
        <span class="page-link">
            @Html.ActionLink("First", "search", new { query = ViewBag.query, page = 1 })</span>
    }
    @if (Model.HasPreviousPage)
    {
        <span class="page-link">
            @Html.ActionLink("Prev", "search", new { query = ViewBag.query, page = Model.PageNumber - 1 })</span>
    }
    @if (Model.HasNextPage)
    {
        <span class="page-link">
            @Html.ActionLink("Next >", "search", new { query = ViewBag.query, page = Model.PageNumber + 1 })</span>
    }
    @if (!Model.IsLastPage)
    {
        <span class="page-link">
            @Html.ActionLink("Last >>", "search", new { query = ViewBag.query, page = Model.PageCount })</span>
    }
    <div class="info">
        <i>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</i>
    </div>
</div>