@model PriceCompare.Models.Category

<div class="contentHolder">
    <div class="breadCrumb">
         @Html.ActionLink("Home", "Index", "Home")&nbsp;>>&nbsp;@Model.Name
    </div>
    <h1 style="font-size:1.2em;">@Model.Name Prices</h1>
    <div class="contentMainDiv">
        <div class="leftDiv">
            @{Html.RenderAction("RecentSearches", "Store");}
            @{Html.RenderAction("RecentlyAdded", "Store");}
            <br />
            <div>
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-9061280781853186";
                    /* Price-tag middle-left */
                    google_ad_slot = "7057947687";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                </script>
                <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </div>
        <div class="rightDiv">
            <div class="mainCatDiv">
                @foreach (var cat in Model.SubCategories)
                {
                    <div class="catDiv">
                        <div>@Html.ActionLink(cat.Name, "Catalog", "Browse", new { id = cat.Name.Replace(" ", "-") }, null)</div>
                        @foreach (var subCat in cat.SubCategories)
                        {
                           <h3>@Html.ActionLink(subCat.Name, "Catalog", "Browse", new { id = subCat.Name.Replace(" ", "-") }, null),</h3>
                        }
                    </div>
                }
            </div>
            <div class="clear"></div>
            <div>
                @{Html.RenderAction("RecentlyAddedForCat", "Store", new { category = @Model.Name });}
            </div>
            <div class="clear"></div>
            <br /><br />
            <div class="bottomAds">
                <div id="bottom-rectangle">
                    <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-9061280781853186";
                        /* Price-tag Bottom */
                        google_ad_slot = "1165082687";
                        google_ad_width = 728;
                        google_ad_height = 90;
                        //-->
                    </script>
                    <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
